
  @font-face{
    font-family: 'flood';
    src: url('Flood.ttf');
    line-height: 1em;
  }

 *{
   padding: 0;
   margin: 0;
 }


 main{
  font-weight: bold;
  font-family:  Helvetica, sans-serif;;
 }

 .navbar{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
 
  color: #354463;
}

.heading{
padding: 1em 0em 1em 6em;
}

 .heading h3 {
   width: 9em;
   font-size: 1.3em;
 }
.sections{
  padding: 2.5em 1em 1em 4em;
  text-align: center;

}

.button_donate{
  text-align: center;
  padding: 2em 1em 1em 1em;

}

.sections a {
  font-weight: lighter;
  letter-spacing: -0.16px;
  text-decoration: none;
  padding: 0em 2em 0em 1em;
  color: #354463;
  line-height:24px;
  font-family: Helvetica, sans-serif;
  font-size: 1.2em;

  
}

.button_donate button a{
  color:#354463;
  font-weight: lighter;
  text-decoration: none;
  font-size: 1.3em;
  line-height:22px;
  font-family: Helvetica, sans-serif;
}
.button_donate button {
  padding: 6px 10px;
  margin-right: 100px;
  border-radius: 30px;
  background: #C1F7D5;
  opacity: 1;
}

.center_area{
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  background-image: url('images/background.png');
  filter: contrast(120%);
  background-size: cover;
  background-position:center;
  font-weight: bold;
  color: #354463;

   
  }
  .center-part{
    display: grid;
     padding: 6em;
    grid-template-columns: 1fr 1.5fr;
  }
  .center_area .center-part .sayings{
    
    background-color: rgb(255, 255, 255);
    padding: 3em;
    align-self: center;
  }
  .lesser_size{
    font-size: 0.7em;
    color: #354463;
    font-weight:lighter;

  }
  .sayings{
    position: relative;
  }
  .sayings_1{
    font-family:Helvetica;
    font-size: 2em;
    padding-bottom:15px;
  }
.hash-tag{
  width : 8em
}
  .hash-tag p{
    font-family: 'flood';
    line-height: 1em;
    font-size: 3.4em;
    padding-left: 4.5em;
    color: white;
    font-weight:200;
    
  }
  .the_issue{
    position: absolute;
    background-color: #354463;
    color: white;
    padding: 0.5em 1em;
    top: -0.4em;
  }

.todowork{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0em 4em;
  background-color: #C1F7D5;
  color: #354463;
}
.todowork .todowork_1{
  padding: 2em;
  margin-top:3em;
}
 
.todowork_1 h3 {
  font-size: 1.5em;
  padding-bottom: 0.2em;
  font-weight: bold;
  font-family:  Helvetica, sans-serif;
}

.todowork_1 p{
  font-size: 1em;

}

.todowork .todowork-tag {
  position: absolute;
  background-color: #354463;
  color: white;
  top: -1em;
  left: 45%;
  padding: 0.6em 0.8em;
}



 @media (max-width: 890px){
  .heading{
    grid-column: 1/3;
    grid-row: 1/2;
    font-size: 0.8rem;
  }
  .sections{
    grid-column: 1/3;
    grid-row: 2/3;
    padding-left: 4em;
    font-size: 0.8em;
  }
  .button_donate{
    grid-column: 3;
    grid-row:1/3;
    align-self: center;
  }

  .center_area{
    background-image: url('images/background_mobile.png');
  }

   .center-part
   {
     grid-row-gap: 4em;
   }
   .sayings{

     grid-column: 1/3;
     grid-row: 2/3;

   }
   .sayings_1{
     font-size: 2em;
   }
   .hash-tag  p{
    padding-left: 0em;
   }

    .todowork{
      padding: 2em;
      grid-template-columns: 1fr 1fr ;
    }
@media (max-width: 580px){
  .navbar{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .heading{
    padding-left: 2em;
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    font-size: 0.8rem;
  }

  .sections{
    display: grid;
    grid-row-gap: 1em;
    justify-self: center;
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: left;
    padding-left: 0em;
    font-size: 0.9em;
  }

  .button_donate{
    grid-column: 1/3;
    grid-row:2;
    align-self: center;
    margin-left: 2em;
    margin-right: 2em;
  }
 .todowork_1 h3 {
    font-size: 1em;
    padding-bottom: 0.2em;
    font-family: Helvetica, sans-serif;
  }

  .center-part{
    grid-row-gap: 6em;
    padding: 4em 2em 4em 2em;
  }
  .sayings{
    text-align: center;
  }
    .todowork_1 p{
    font-size: 1em;
  }

  .the_issue{
   left: 50%;
   transform: translateX(-52px);
  }
  .todowork .todowork_1{
    padding: 1em;
  }


